@{
    ViewData["Title"] = "SouQ.Com";
}


<div class=" row align-items-center justify-content-center w-100 main-container  ">
    <div class="text-center">
        <h1 class="display-4 text-success font-weight-bolder py-2"> SouQ.Com</h1>
    </div>
</div>